<!DOCTYPE html>
<html>
  <head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Personal Calendar</title>
    <!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <nav>
        <form action="/appointments" method="POST">
          <input type="text" id="addInput" name="msg" placeholder="Event">
          <button type="submit" id="add" name="button">ADD EVENT</button>
          <button type="submit" id="remove" name="button">DELETE EVENT</button>
      </form>
    </nav>
    <h1>Organize Your Life</h1>
    <h3>Easily add events to your calendar</h3>
    <div id="calendar">  </div>
      <ul class="appointments">
  <% for(var i=0; i<appointments.length; i++) {%>
    <li class="appointment">
      <span><%= appointments[i].msg %></span>
    </li>
  <% } %>
  </ul>


    <script type="text/javascript" src="/calendar.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
